.card {
    position: relative;
    width: 200px; 
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.bookImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    color: var(--background-color);
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    transition: top 0.7s ease, opacity 0.5s ease, visibility 0s ease 0.5s;
}

.card:hover .overlay {
    top: 0;
    opacity: 1; 
    visibility: visible;
    transition: top 0.7s ease, opacity 0.5s ease, visibility 0s ease 0s;
}

.bookTitle{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.bookAuthor, .bookGenre, .bookDescription {
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: bold;
}

.bookAuthor {
    color: var(--icon-color);
    font-size: 1.3rem;
}
.bookDescription {
    color: var(--secondary-color);
    word-wrap: break-word;
    white-space: normal; 
    overflow-wrap: break-word; 
    width: 100%;
    padding: 0 5px;
}

.deleteButton {
    position: absolute;
    top: -20px;
    right: -70px;
    color: #f44336 !important;
    background-color: var(--background-color) !important;
    z-index: 2;
    width: 30px !important;
    height: 30px !important;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .deleteButton {
    opacity: 1;
}

.deleteButton:hover {
    background-color: #f44336 !important;
    color: var(--background-color) !important;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto; 
    }
    .bookAuthor, .bookGenre, .bookDescription {
        font-size: 25px;
    }
    .bookTitle{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: var(--secondary-color);
    }
}
